.circle-border {
    width: 80px;
    height: 80px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin .8s linear 0s infinite;

    margin: 0 auto;
    margin-top: 10px;
}

.spinner-box div {
    text-align: center;
}
  
.circle-core {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
}

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
}
  