$test-color: red;

.test {
    clip-path: none;
    transform: scale(2);
    user-select: none;
    color: $test-color;
}

.weapon img {
    width: 150px;
    height: 150px;
}

.weapon img:hover {
    width: 150px;
    height: 150px;
    opacity: 0.7;
}
